.fade-out{
  -webkit-animation: fadeout .2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadeout .2s; /* Firefox < 16 */
  -ms-animation: fadeout .2s; /* Internet Explorer */
  -o-animation: fadeout .2s; /* Opera < 12.1 */
  animation: fadeout .2s;
}

@keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 1; }
  to   { opacity: 0; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 1; }
  to   { opacity: 0; }
}