<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{ifset title}{include title|stripHtml} | {/ifset}Nette Web</title>
</head>

<body>
<script src="{$basePath}/assets/css.js"></script>

<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <span class="navbar-brand">Right place for manage your project</span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                    class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" n:href="Project:Default">Manage project</a></li>
{*                <li class="nav-item dropdown">*}
{*                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button"*}
{*                       data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>*}
{*                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">*}
{*                        <li><a class="dropdown-item" href="#">Action</a></li>*}
{*                        <li><a class="dropdown-item" href="#">Another action</a></li>*}
{*                        <li>*}
{*                            <hr class="dropdown-divider"/>*}
{*                        </li>*}
{*                        <li><a class="dropdown-item" href="#">Something else here</a></li>*}
{*                    </ul>*}
{*                </li>*}
            </ul>
        </div>
    </div>
</nav>

<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>

{include content}

<footer class="bg-light text-center text-lg-start mt-5">
    <!-- Copyright -->
    <div class="text-center p-3 bg-light">
        © 2020 Copyright:
        <span class="text-dark" >Filipovsky</span>
    </div>
    <!-- Copyright -->
</footer>

<script src="{$basePath}/assets/app.js"></script>
</body>
</html>
