
{block content}

<div class="container">
	<div class="text-center mt-5">
		<p>
			We did not find all necessary tables. It could be solve by the magic button below!
		</p>
		<p>
			<a type="button" class="btn btn-primary"
					n:href="runMigration!">Run console migrations:migrate!</a>
		</p>
	</div>
</div>
