
{block content}

<div class="container">
	<div class="text-center mt-5">
		<h1>Wellcome to project manager</h1>
		<p class="lead">Easy and free app for your project management</p>
		<p>click "manage project" to start using app</p>
		<p>generate 100 random project <a href="#">here</a></p>
	</div>
</div>
